name: Dissect CI
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10
      - name: Install dependencies
        run: |
          sudo apt-get install graphviz
          pip install -e .[dev]
          pip install pytest
      - name: Run tests
        run: pytest tests/ -v --cov=dissect
      - name: Upload coverage
        uses: codecov/codecov-action@v3
